.home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000, #222);
  }
  
  h1 {
    font-size: 3rem;
    color: white;
  }
  
  p {
    color: grey;
    font-size: 1.2rem;
  }
  
  .large-photo {
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .large-photo:hover {
    transform: scale(1.1);
  }
  